<div class="d-flex container px-5 px-sm-0">
  <div class="container">
    <%= render 'books/side', bookd: @user, user: @user, books: @book %>
  </div>

  <div class="container col-md-8 offset-md-1">
  <div class="row">
    <h1>Users</h1>
    <table class="table table-striped">
      
      <thead>
        <tr>
        <td>image</td>
        <td>name</td>
        <td></td>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
        <% end %>
        </tr>
      </tbody>
      
    </table>
  </div>
  </div>
</div>