<div class="d-flex container px-5 px-sm-0">
<%= render 'books/side', bookd: @user, user: @user, books: @book %>


<div class="container col-md-8 offset-md-1">
<div class="row">
<h1>Books</h1>
<table class="table table-striped">
  
  <thead>
    <tr>
      <td></td>
      <td>Title</td>
      <td>Opinion</td>
    </tr>
  </thead>

  <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
  </div>
  </div>
  </div>