<div class="col-lg-5 mx-auto">
  <div>
    <div>
      <h1>
        welcome to <i class="fas fa-book"></i></i><strong>Bookers !!</strong>
      </h1>
      <p>
        In <i class="fas fa-book"></i><strong>Bookers !!</strong>,<br>
        <br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        <br>
        about various books!<br>
      </p>
      
      <div class="col-lg-8 mx-auto">
      <div class="center-block mb-3">
      <%= link_to "/users/sign_in" do %>
        <button style="background-color: blue ", class="text-white btn-block">
          Log in
        </button>
      <% end %><br>
      </div>
      
      <div>
      <%= link_to "/users/sign_up" do %>
        <button style="background-color: limegreen ", class="text-white btn-block">
          Sign up
        </button>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>