<div class="col-lg-5 mx-auto">
  <div>
    <div>
      <h1>
        welcome to <i class="fas fa-book"></i></i><strong>Bookers !!</strong>
      </h1>
      <p>
        In <i class="fas fa-book"></i><strong>Bookers !!</strong>,<br>
        <br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        <br>
        about various books!<br>
      </p>
      
      <div class="col-lg-8 mx-auto">
      <div class="mb-3">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-block" %>
      </div>
      
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block"  %>
      </div>
    </div>
  </div>
</div>